<!-- The following will be rendered into a given layout's {{{body}}} -->
    <h1>{{title}}</h1>
    <div class="grid-container">
        {{#each products}}
            <div class="product" data-image="{{this.image}}" data-title="{{this.title}}" data-description="{{this.description}}">
<!--                <div class="product-id">{{this.id}}</div>-->
                <div class="product-image"><img src="{{this.image}}"/></div>
                <div class="product-name">{{this.title}}</div>
                <div class="product-price">${{this.price}}.00</div>
            </div>
        {{/each}}
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img id="product-image" src="{{this.image}}" alt="Product Image">
            <h2 id="product-title">{{this.title}}</h2>
            <p id="product-description">{{this.description}}</p>
        </div>
    </div>

